.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* style.css */
.container {
  background: linear-gradient(to right, #4299e1, #9f7aea);
  padding: 2rem;
  text-align: center;
  color: white;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.message-box {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 20rem;
}

.message {
  font-size: 1.25rem;
  color: #09919b;
  text-align: center;
}
